h4{
	padding-left:20%;
	font-size:18px;
}
a{
	text-decoration:none;
	font-size:14px;
	color:black;
	color:white;
}
.home{
	text-align:left;
	height:50px;
	background:black;
	color:white;
	display:flex;
	justify-content:space-around;
}
.logo{
	list-style-type:none;
	padding:auto;
	font-size:25px;
	display:flex;
	justify-content:space-between;
}
.fa-brands{
	padding:0px 10px;
}
.container{
	min-width:300px;
	min-height:150px;
	background:black;
	color:white;
	display:grid;
	grid-template-columns:repeat(4,1fr);
	justify-content:space-between;
}
@media screen and (max-width: 450px){
	.container{
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-content:center;
		gap:10px;
	}
}